@using FootballTeamSystem.Infrastructure.Constants
@model FootballTeamSystem.ViewModels.Post.AddPostViewModel

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li class="active">New</li>
    </ul>
    <h2>Create new post.</h2>
    <hr />

    @using (Html.BeginForm(Views.Create, Controllers.Post, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "postTextArea" })
                @Html.ValidationMessageFor(m => m.Content)
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.IsFeaturedPost) Featured post
                </label>
            </div>


            <div class="form-group">
                @Html.Label("UploadedImage", "Cover Image", new { @class = "" })
                @Html.TextBox("UploadedImage", null, new { type = "file", @class = "" })
                <p class="help-block">Allowed formats: jpeg, jpg, png.</p>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-default">Create new post</button>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
