@model FootballTeamSystem.Models.PostViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Начало</a></li>
        <li><a href="/posts/">Публикации</a></li>
        <li class="active">Изтриване</li>
    </ul>
    <h2>Изтриване на публикация.</h2>
    <hr />

    @using (Html.BeginForm("Delete", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">

            @Html.ValidationSummary(true, "", new { @class = "text-danger disabled" })

            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", disabled = "" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "postTextArea", disabled = "" })
                @Html.ValidationMessageFor(m => m.Content)
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-danger">Изтрий публикацията</button>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}