@using FootballTeamSystem.Infrastructure.Constants
@model FootballTeamSystem.ViewModels.Post.DeletePostViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Начало</a></li>
        <li><a href="/posts/">Публикации</a></li>
        <li class="active">Изтриване</li>
    </ul>
    <h2>Изтриване на публикация.</h2>
    <hr />

    @using (Html.BeginForm(Views.Delete, Controllers.Post, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">

            @Html.ValidationSummary(true, "", new { @class = "text-danger disabled" })

            <div class="form-group">
                @Html.LabelFor(m => m.PostTitle)
                @Html.TextBoxFor(m => m.PostTitle, new { @class = "form-control", disabled = "" })
                @Html.ValidationMessageFor(m => m.PostTitle)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PostContent)
                @Html.TextAreaFor(m => m.PostContent, new { @class = "form-control", id = "postTextArea", disabled = "" })
                @Html.ValidationMessageFor(m => m.PostContent)
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-danger">Изтрий публикацията</button>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}