@using FootballTeamSystem.Controllers
@using FootballTeamSystem.Infrastructure.Constants
@using FootballTeamSystem.ViewModels.Comment
@model FootballTeamSystem.ViewModels.Post.SingleDetailsPostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/posts/">Posts</a></li>
            <li class="active">@Model.Title</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-8">
            <article>
                <h1>@Model.Title</h1>

                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <span class="glyphicon glyphicon-bookmark"></span> <a href="#">News</a>, <a href="#">Football</a>, <a href="#">Hot</a>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <span class="glyphicon glyphicon-time"></span> @Model.CreatedOn.ToLongDateString()
                    </div>
                </div>

                <hr>

                <img src="@Model.ImagePath" class="img-responsive postImage">

                <br />

                <p class="lead">@Html.Raw(Model.Content) </p>

                <hr>
            </article>
            
            <div id="actionBtns">
                @{
                    if (User.IsInRole(RoleName.CanManagePosts))
                    {
                        @(Html.ActionLink<PostController>("Edit Post", c => c.Edit(Model.Id), null, new { @class = "btn btn-primary btn-sm", id = "editPost" }))
                        @(Html.ActionLink<PostController>("Delete Post", c => c.Delete(Model.Id), null, new { @class = "btn btn-danger btn-sm pull-right", id = "editPost" }))
                    }
                }
            </div>

            <ul class="pager">
                <li class="previous"><a href="/posts/">&larr; Back to posts</a></li>
            </ul>

            <!-- Comments -->
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial(Partials.PostCommentPartial, new  PostCommentViewModel(Model.Id))
            }
            <hr />

          @if (Model.Comments.Any())
          {
              <ul id="comments">
                  @foreach (var comment in Model.Comments)
                  {
                      @Html.Partial(Partials.CommentPartial, comment)
                  }
              </ul>
          }
        </div>
        
        <!-- Subscribe Widget -->
        <div class="col-md-4">
            <div class="well text-center">
                <p class="lead">
                    Don't want to miss updates? Please click the below button!
                </p>
                <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
            </div>
        </div>
    </div>
</div>