@using FootballTeamSystem.Data.Model
@model FootballTeamSystem.Models.PostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/">Начало</a></li>
            <li><a href="/posts/">Публикации</a></li>
            <li class="active">@Model.Title</li>
        </ul>
        <div class="col-md-10">
            <h2> @Model.Title</h2>
           
        </div>
        <div class="col-md-2" id="actionBtns">
            @{
                if (User.IsInRole(RoleName.CanManagePosts))
                {
                    @Html.ActionLink("Редактирай", "Edit",new {id = Model.Id}, new { @class = "btn btn-primary btn-sm pull-right", id = "editPost" })
                }
            }
        </div>
        <div class="col-md-12">
            <p>Posted by @Model.Author.Email <span class="pull-right"><em> @Model.CreatedOn.ToLongDateString()</em></span> </p>
        </div>
    </div>
    <div class="row">
        <img src="@Model.ImagePath" class="img-responsive img-thumbnail pull-left postImage-details">
        <p class="body-content text-justify"> @Html.Raw(Model.Content)  </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            @{
                if (User.IsInRole(RoleName.CanManagePosts))
                {
                    @Html.ActionLink("Изтрий", "Delete", new {id = Model.Id}, new  {@class="btn btn-danger btn-sm", id = "deletePost"})
                }
            }
        </div>
    </div>
</div>


