@using FootballTeamSystem.Controllers
@using FootballTeamSystem.Infrastructure.Constants
@model FootballTeamSystem.ViewModels.Post.ListPostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/posts/">Posts</a></li>
            <li class="active">@Model.Title</li>
        </ul>
        <div class="col-md-10">
            <h2> @Model.Title</h2>

        </div>
        <div class="col-md-2" id="actionBtns">
            @{
                if (User.IsInRole(RoleName.CanManagePosts))
                {
                    @(Html.ActionLink<PostController>("Edit Post", c => c.Edit(Model.Id), null, new { @class = "btn btn-primary btn-sm pull-right", id = "editPost" }))
                }
            }
        </div>
        <div class="col-md-12">
            <p>Posted by @Model.AuthorUserName <span class="pull-right"><em> @Model.CreatedOn.ToLongDateString()</em></span> </p>
        </div>
    </div>
    <div class="row">
        <img src="@Model.ImagePath" alt="Post Image" class="img-responsive img-thumbnail pull-left postImage-details">
        <p class="body-content text-justify"> @Html.Raw(Model.Content)  </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            @{
                if (User.IsInRole(RoleName.CanManagePosts))
                {
                    @(Html.ActionLink<PostController>("Delete Post", c => c.Delete(Model.Id), null, new { @class = "btn btn-danger btn-sm", id = "deletePost" }))
                }
            }
        </div>
    </div>
</div>


