@model FootballTeamSystem.Models.PostViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Начало</a></li>
        <li><a href="/posts/">Публикации</a></li>
        <li class="active">Редакция</li>
    </ul>
    <h2>Редактиране на публикация.</h2>
    <hr />

    @using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "postTextArea" })
                @Html.ValidationMessageFor(m => m.Content)
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.IsFeaturedPost) На фокус
                </label>
            </div>


            <div class="form-group">
                @Html.Label("image", "Изображение", new { @class = "" })
                @Html.TextBox("image", null, new { type = "file", @class = "" })
                <p class="help-block">Позволени формати: jpeg, jpg, png.</p>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-default">Запази промените</button>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}