@using FootballTeamSystem.Controllers
@using FootballTeamSystem.Infrastructure.Constants
@model IEnumerable<FootballTeamSystem.ViewModels.Post.ListPostViewModel>
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Posts</li>
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h2>Latest Posts</h2>
    </div>
    <div class=" col-xs-offset-6 col-xs-2">
        @{
            if (User.IsInRole(RoleName.CanManagePosts))
            {
                @(Html.ActionLink<PostController>("Add new post", p => p.Create(), null, new { @class = "btn btn-primary pull-right", id = "createPost" }))
            }
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- list of posts -->
            @foreach (var post in Model)
            {
                <article>
                    <h2><a href="/post/details/@post.Id/">@post.Title</a></h2>

                    <div class="row">
                        <div class="col-sm-8 col-md-8">
                            <span class="glyphicon glyphicon-bookmark"></span> <a href="#">News</a>,
                            <a href="#">Football</a>, <a href="#">Hot</a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <span class="glyphicon glyphicon-time"></span> @post.CreatedOn.ToLongDateString()
                        </div>
                    </div>

                    <hr>

                    <img src="@post.ImagePath" class="img-responsive homeListImage">

                    <br />

                    <p class="lead">@Html.Raw(post.Description) ...</p>

                    <p class="text-right">
                        <a href="/post/details/@post.Id/">
                            continue reading...
                        </a>
                    </p>

                    <hr>

                </article>
            }
            <!-- pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">← Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer →</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <!-- Subscribe to my feed widget -->
            <div class="well text-center">
                <p class="lead">
                    Don't want to miss updates? Please click the below button!
                </p>
                <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
            </div>

            <!-- Other widgets -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Lastest Hot News</h4>
                </div>
                <ul class="list-group">
                    @foreach (var hotpost in Model.Where(p=>p.IsFeaturedPost).Take(6))
                    {
                        <li class="list-group-item">
                            <a href="/post/details/@hotpost.Id">@hotpost.Title</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Recent Comments</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">I don't believe in astrology but still your writing style is really great! - <em>john</em></a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Wow.. what you said is really true! I'm an aries though - <em>Anto</em></a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Does capricorn and aries is compatibile? - <em>Sarah</em></a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">I'm a cancer woman been in love with Leo. Will this work? - <em>Mary</em></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>