@using FootballTeamSystem.Controllers
@using FootballTeamSystem.Infrastructure.Constants
@model IEnumerable<FootballTeamSystem.ViewModels.Post.ListPostViewModel>
@{
    ViewBag.Title = "Публикации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Posts</li>
        </ul>
        <h2 class="pull-left">All</h2>
      @{
          if (User.IsInRole(RoleName.CanManagePosts))
          {
              @(Html.ActionLink<PostController>("Add new post", p => p.Create(), null, new { @class = "btn btn-primary pull-right", id = "createPost" }))
          }
      }
    </div>
    <div class="row">
        <div class="col">
            @foreach (var post in Model.OrderByDescending(date => date.CreatedOn))
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="../post/details/@post.Id">
                            <h3 class="panel-title">@post.Title</h3>
                        </a><small class="">@post.AuthorUserName</small>
                    </div>
                    <div class="panel-body">
                        <img src="@post.ImagePath" class="img-responsive img-thumbnail pull-left postImage" alt="Post image">
                        <div class="postDescription">@Html.Raw(post.Description)</div>
                        <a href="../post/details/@post.Id" class="btn btn-primary btn-sm pull-right">Read More</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
