@using FootballTeamSystem.Controllers
@using FootballTeamSystem.Infrastructure.Constants
@model FootballTeamSystem.ViewModels.Post.IndexPostViewModel
@{
    ViewBag.Title = "Latest Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Posts</li>
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        @{
            if (User.IsInRole(RoleName.CanManagePosts))
            {
                @(Html.ActionLink<PostController>("Add new post", p => p.Create(), null, new { @class = "btn btn-primary pull-right", id = "createPost" }))
            }
        }
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- list of posts -->
            @if (Model.Posts.Any())
            {
                foreach (var post in Model.Posts)
                {
                    <article>
                        <h2><a href="/post/details/@post.Id/">@post.Title</a></h2>

                        <div class="row">
                            <div class="col-sm-8 col-md-8">
                                <span class="glyphicon glyphicon-bookmark"></span> <a href="#">News</a>,
                                <a href="#">Football</a>, <a href="#">Hot</a>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <span class="glyphicon glyphicon-time"></span> @post.CreatedOn.ToLongDateString()
                            </div>
                        </div>

                        <hr>

                        <img src="/Content/Uploads/Posts/banner.jpg" class="img-responsive homeListImage">

                        <br />

                        <p class="lead">@Html.Raw(post.Description) ...</p>

                        <p class="text-right">
                            <a href="/post/details/@post.Id/">
                                continue reading...
                            </a>
                        </p>

                        <hr>

                    </article>
                }
            }
            else
            {
                <h2>There is no posts yet.</h2>
            }
            <!-- pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">← Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer →</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <!-- Subscribe to my feed widget -->
            <div class="well text-center">
                <p class="lead">
                    Don't want to miss updates? Please click the below button!
                </p>
                <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
            </div>

            <!-- Other widgets -->
            @if (Model.Posts.Any(t => t.IsFeaturedPost))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Latest Hot News</h4>
                    </div>
                    <ul class="list-group">
                        @foreach (var hotpost in Model.Posts.Where(p => p.IsFeaturedPost).Take(6))
                        {
                            <li class="list-group-item">
                                <a href="/post/details/@hotpost.Id">@hotpost.Title</a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.RecentComments.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Recent Comments</h4>
                    </div>
                    <ul class="list-group">
                        @foreach (var comment in Model.RecentComments)
                        {
                            <li class="list-group-item">
                                <a href="/post/details/@comment.PostId"><em>@comment.AuthorName says:</em>  @comment.Content</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>