@model IEnumerable<FootballTeamSystem.ViewModels.Post.ListPostViewModel>

@{

    ViewBag.Title = "Home Page";
}
<div class="row">
    <!-- Carousel -->
    @*<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Static Header -->
                @foreach (var featuredPost in Model.Where(fp=> fp.IsFeaturedPost))
                {
                    <img src="@featuredPost.UploadedImage" alt="First slide">

                    <div class="header-text hidden-xs">
                        <div class="col-md-12">
                            <h2>
                                <span> <strong>@featuredPost.Title</strong></span>
                            </h2>
                        </div>
                    </div><!-- /header-text -->
                }
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div><!-- /carousel -->*@
</div>
<hr />
<div class="row">
    @foreach (var post in Model.Take(3))
    {
        <div class="col-md-4">
            @*<img src="@post.ImagePath"  class="img-responsive img-thumbnail" />*@
            <h3>@post.Title</h3>
            <h5>@post.CreatedOn.ToLongDateString()</h5>
            <p>@Html.Raw(post.Description)</p>
            <p><a class="btn btn-default" href="../post/details/@post.Id">Read more &raquo;</a></p>
        </div>
    }
</div>
<div class="row">
    @foreach (var post in Model.Skip(3).Take(3))
    {
        <div class="col-md-4">
            <h3>@post.Title</h3>
            <h5>@post.CreatedOn.ToLongDateString()</h5>
            <p>@Html.Raw(post.Description)</p>
            <p><a class="btn btn-default" href="../post/details/@post.Id">Read more &raquo;</a></p>
        </div>
    }
</div>
