@using FootballTeamSystem.Controllers
@using FootballTeamSystem.Infrastructure.Constants
@model IEnumerable<FootballTeamSystem.ViewModels.PlayerViewModel>

@{
    ViewBag.Title = "All Players";
}

<div class="container-fluid">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Players</li>
        </ul>
    </div>
    <div class="row">
        <h1>Players</h1>
        @{
            if (User.IsInRole(RoleName.CanManagePlayers))
            {
                @(Html.ActionLink<PlayerController>("Add new player", p => p.Add(), null, new { @class = "btn btn-sm btn-primary  pull-right", id = "createPlayer" }))
            }
        }
    </div>
    <div class="row">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Player #</th>
                    <th>Position</th>
                    <th>Player Names</th>
                    <th>Player Birtdate</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model)
                {
                    <tr>
                        <td>@player.ShirtNumber</td>
                        <td>@player.Position</td>
                        <td>@player.FullName</td>
                        <td>@player.Birthdate.ToLongDateString()</td>
                        <td>@(Html.ActionLink<PlayerController>("Details", c => c.Details(player.Id),null, new { @class = "btn btn-sm btn-default" }))</td>
                        @if (User.IsInRole(RoleName.CanManagePlayers))
                        {
                            <td>@(Html.ActionLink<PlayerController>("Edit", c => c.Edit(player.Id), null, new {@class="btn btn-info btn-sm"}))</td>
                            <td>@(Html.ActionLink<PlayerController>("Delete", c => c.Delete(player.Id), null, new{@class= "btn btn-danger btn-sm" }))</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>