@using FootballTeamSystem.Infrastructure.Constants
@model FootballTeamSystem.ViewModels.MatchViewModel
    
@{
    ViewBag.Title = "Create new match";
}


@using (@Html.BeginForm(Views.Create, Controllers.Match, FormMethod.Post, new { @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
<fieldset>
    <legend>Create  new Match</legend>
    @Html.ValidationSummary()
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m=>m.HomeTeam,null,new {@class= "col-lg-3 control-label" })
            <div class="col-lg-9">
                @Html.TextBoxFor(m=>m.HomeTeam,null,new {@class= "form-control", placeholder="Home Team" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m=>m.AwayTeam,null,new {@class= "col-lg-3 control-label" })
            <div class="col-lg-9">
                @Html.TextBoxFor(m=>m.AwayTeam, null,new {@class= "form-control", placeholder="Away Team" })
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m=>m.HomeTeamScore,null,new {@class= "col-lg-3 control-label" })
            <div class="col-lg-9">
                @Html.TextBoxFor(m=>m.HomeTeamScore, null,new {@class= "form-control", placeholder="Home Team Goals", type="number" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m=>m.AwayTeamScore,null,new {@class= "col-lg-3 control-label" })
            <div class="col-lg-9">
                @Html.TextBoxFor(m=>m.AwayTeamScore, null,new {@class= "form-control", placeholder="Away Team Goals", type="number" })
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            @Html.LabelFor(m=>m.MatchStatus,null,new {@class= "col-lg-3 control-label" })
            <div class="col-lg-3">
                @Html.EnumDropDownListFor(m=>m.MatchStatus, "Select status",new {@class= "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MatchDate, null, new {@class = "col-lg-3 control-label"})
            <div class="col-lg-3">
                @Html.TextBoxFor(m => m.MatchDate, null, new {@class = "form-control",  type = "date"})
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-8">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Create Match</button>
        </div>
    </div>
</fieldset>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
